
.class-entity-wrapper .field-label,
.course-class-list .field-label {
  display: none;
}
.class-section {
  //border-bottom:1px solid #ddd;
  //padding-bottom: 10px;
  margin-bottom: 10px;
  h3 {
    font-size: 85%;
    margin: 0;
    text-transform: uppercase;
  }
}

.class-view-mode-short .course-classes {
  border-top:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.class-wrapper {
  font-size: 85%;
}
.class-view-mode-short .class-wrapper {


}
.course-class-list .class-wrapper {
  padding-top: 0;
}
.class-wrapper {
  //margin-bottom: 20px;
  //box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  border-bottom:1px solid #e7e7e7;
}
.class-row-wrapper {
  padding:20px 0 10px;
  border-top:1px solid #e7e7e7;
  border-bottom:1px solid #e7e7e7;
  margin-bottom: -1px;

  .class-title-group {
    display: -webkit-flex; /* Safari */
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin-bottom: 10px;
    .class-title {
      -webkit-order:2;
      order:2;
      margin:0;
      padding: 5px 0;
    }
    .class-number {
      -webkit-order:1;
      order:1;
      margin:0;
      padding: 0;
    }
    .class-section {
      -webkit-order:3;
      order:3;
      margin:0;
      padding: 0;
      text-transform: uppercase;
      font-size: 75%;
      color:#757575;
    }
  }

  h2.class-title {
    margin: 0;
    font-size: 110%;
    font-weight: 400 !important;
    color:#333;
    //text-transform: uppercase;
  }
  h3.class-number {
    margin: 0;
    font-size: 150%;
    font-weight: 900 !important;
    text-transform: uppercase;
  }
  h3.class-format {
    margin: 0;
    font-size: 100%;
    color:#bbb;
  }
}
@media screen and (min-width:768) {
  .class-row-wrapper {
    padding: 20px 0;
  }
}
.class-wrapper {
  h2.class-title {
    font-weight:400 !important;
  }
  .class-content {
    padding:10px;
  }
}

h2.class-title span {
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .class-title-wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;

    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap:         nowrap;
  }
  div {
    flex: 1 1 auto;
  }
  h3.class-format {
    text-align: right;
    white-space: nowrap;
    margin-left: 80px;
  }
  .class-section {
    border: none;
    padding: 0;
  }
}


.class-title-wrapper {
  background-color: #333;
  color:#fff;
  padding: 10px;

  a:link,
  a:visited {
    color:#fff;
  }
}
.course-class-list {
  margin-bottom: 20px;
}
.updated {
  font-size: 65%;
  text-transform: uppercase;
}
.class-title {
  font-weight: 400;
}
.class-section-number {
  color:#656565;
  font-weight:700;
  text-transform: uppercase;
}
.course-description {
  padding:0 0 20px;
}
.page-course h1#page-title {
  font-size:150%;
}

.url-textfield {
  display: none;
}



.course-classes-all {
  padding:20px;
  border:1px solid #e0e0e0;
}
#other-classes {
  display: none;
  padding: 20px 0;
}


#other-classes-trigger {
  font-weight: 600;
}



// COURSE VIEW
h3.course-credits {
  color: #777;
  font-size: 100%;
}
.class-title-wrapper h2.class-format {
  margin: 0;
}

.class-meeting-time {
  font-size: 75%;
  display: block;
}

.course-class-list-item {
  padding: 10px 0;
  border-top:1px solid #e7e7e7;
  border-bottom:1px solid #e7e7e7;
  margin-bottom: -1px;
}
