
.class-entity-wrapper .field-label,
.course-class-list .field-label {
  display: none;
}
.class-section {
  //border-bottom:1px solid #ddd;
  //padding-bottom: 10px;
  margin-bottom: 10px;
  h3 {
    font-size: 85%;
    margin: 0;
    text-transform: uppercase;
  }
}
@media screen and (min-width:768px) {
  .view-cu-classes .class-section h3 {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
    clip: rect(1px, 1px, 1px, 1px);
  }
}
.class-view-mode-short .course-classes {
  border-top:1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}
.class-wrapper {
  font-size: 85%;
}
.class-view-mode-short .class-wrapper {


}
.course-class-list .class-wrapper {
  padding-top: 0;
}
.class-wrapper {
  //margin-bottom: 20px;
  //box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.25);
  border-bottom:1px solid #e7e7e7;
}
.class-row-wrapper {
  padding:20px 0 10px;
  border-top:1px solid #e7e7e7;
  border-bottom:1px solid #e7e7e7;
  margin-bottom: -1px;

  .class-title-group {
    display: -webkit-flex; /* Safari */
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 10px;
  }

  h2.class-title {
    margin: 0;
    font-size: 100%;
    font-weight: 400 !important;
    color:#333;
    //text-transform: uppercase;
  }
  h3.class-number {
    margin: 0;
    font-size: 150%;
    font-weight: 900 !important;
    text-transform: uppercase;
  }
  h3.class-format {
    margin: 0;
    font-size: 100%;
    color:#bbb;
  }
}
@media screen and (min-width:768) {
  .class-row-wrapper {
    padding: 20px 0;
  }
}
.class-wrapper {
  h2.class-title {
    font-weight:400 !important;
  }
  .class-content {
    padding:10px;
  }
}

h2.class-title span {
  font-weight: 700;
}
@media screen and (min-width:768px) {
  .class-title-wrapper {
    display: -webkit-flex; /* Safari */
    display: flex;

    -webkit-flex-direction: row; /* Safari */
    flex-direction:         row;

    -webkit-flex-wrap: nowrap; /* Safari */
    flex-wrap:         nowrap;
  }
  div {
    flex: 1 1 auto;
  }
  h3.class-format {
    text-align: right;
    white-space: nowrap;
    margin-left: 80px;
  }
  .class-section {
    border: none;
    padding: 0;
  }
}


.class-title-wrapper {
  background-color: #333;
  color:#fff;
  padding: 10px;

  a:link,
  a:visited {
    color:#fff;
  }
}
.course-class-list {
  margin-bottom: 20px;
}
.updated {
  font-size: 65%;
  text-transform: uppercase;
}
.class-title {
  font-weight: 400;
}
.class-section-number {
  color:#656565;
  font-weight:700;
  text-transform: uppercase;
}
.course-description {
  padding:0 0 20px;
}
.page-course h1#page-title {
  font-size:150%;
}

.url-textfield {
  display: none;
}
/* COURSE SEARCH */
.view-cu-classes .views-exposed-form label {
  font-size: 75%;
}
.view-cu-classes .views-exposed-form input.form-text {
  padding: 5px;
}


.course-classes-all {
  padding:20px;
  border:1px solid #e0e0e0;
}
#other-classes {
  display: none;
  padding: 20px 0;
}

.view-cu-classes .views-row {
  padding:0 20px;
}
.view-cu-classes .views-row-odd {
  background-color: #f5f5f5;
}
#other-classes-trigger {
  font-weight: 600;
}

.view-cu-classes select {
  //max-width: 75px;
}
.view-cu-classes .views-exposed-widget input:not(:first-child) {
  margin-left:15px;
}

$radius: 0px;
.view-cu-classes {
  .form-type-select {
    overflow: hidden;
    width:100px;
    background-color:#e7e7e7;
    background-image: url(../images/select-arrows.png);
    background-position: right center;
    background-repeat: no-repeat;
  }
  input[type="text"] {
    font-size: 13px;
  }
  select {
    //background-color:#e7e7e7;
    color:#333;
    font-weight: 600;
    font-size:12px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-image: none;
    background-color: transparent;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    padding:8px;
    width:118%;
  }
  option {
    background:#f5f5f5;
    color:#333;
    font-weight: 400;
  }
  input[type="submit"], input[type="reset"] {
    background-color: #007BC8;
    color:#fff;
    font-weight: 600;
    font-size:12px;
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
    background-image: none;
    -webkit-appearance: none;
    border: none;
    box-shadow: none;
    padding:8px;
  }
  input[type="reset"] {
    background-color: #444;
  }
  @media screen and (min-width:768px) {
    .views-exposed-widgets {
      display: table;
    }
    .views-exposed-widgets > div {
      display: table-cell;
      float: none;
      margin: 0;
      vertical-align: bottom;
    }
  }
  @media screen and (max-width:767px) {
    .views-widget-filter-combine {
      float: none;
      margin: 0 0 10px 0;
      width:100%;
      input.form-text {
        width: 100%;
      }
    }
  }
}
.class-view-column-headers {
  font-weight: 600;
  padding:20px 20px 0;
  font-size: 75%;
  text-transform: uppercase;
  display: none;
}
@media screen and (min-width:768px) {
  .class-view-column-headers {
    display: block;
  }
}

// COURSE VIEW
h3.course-credits {
  color: #777;
  font-size: 100%;
}
.class-title-wrapper h2.class-format {
  margin: 0;
}
